<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
    <servlet-name>Student1</servlet-name>
    <servlet-class>servlet.Student</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Student1</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Teacher</servlet-name>
        <servlet-class>servlet.Teacher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Teacher</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>

</web-app>
